<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="org.coke.mapper.MemberMapper">
    
    	<resultMap type="org.coke.domain.MemberVO" id="memberMap">
    		<id property="userid" column="userid"/>
    		<result property="userid" column="userid"/>
    		<result property="userpw" column="userpw"/>
    		<result property="userName" column="userName"/>
    		<result property="regDate" column="regDate"/>
    		<result property="updateDate" column="updateDate"/> 
    		<collection property="authList" resultMap="authMap"></collection>
    	</resultMap>
    	
    	<resultMap type="org.coke.domain.AuthVO" id="authMap">
    		<result property="userid" column="userid"/>
    		<result property="auth" column="auth"/>
    	</resultMap>
    	
    	<select id="read" resultMap="memberMap">
    		select 
    			mem.userid, userpw, username, enabled, regdate, updatedate, auth
    		from
    			coke_member mem left outer join coke_member_auth auth on mem.userid = auth.userid
    		where mem.userid = #{userid}
    	</select>
    	
    	
    	<insert id="insert">
    		insert into coke_member (userid, userpw, username) values(#{userid}, #{userpw}, #{userName})
    	</insert>
    	
    	<insert id="grantAuth">
    		insert into coke_member_auth (userid, auth) values (#{userid}, #{auth})
    	</insert>
	    
	    <select id="checkDistinctId" resultType="int">
	    	select count(userid) from coke_member where userid = #{userid}
	    </select>	
	    
	    <select id="getuser" resultType="org.coke.domain.MemberVO">
	    	select * from coke_member where userid = #{userid}
	    </select>
	    
	    <insert id="insertProfile">
	    	insert into coke_member_attach (userid, uuid, uploadPath, fileType, fileName)	
	    	values(#{userid}, #{uuid}, #{uploadPath}, #{fileType}, #{fileName})
	    </insert>
	    
	    <update id="update">
	    	update coke_member set userName = #{userName}, updatedate = sysdate where userid = #{userid}
	    </update>
	    
	    <delete id="deleteProfileImage">
	    	delete from coke_member_attach where userid = #{userid}
	    </delete>
	    
	    <select id="getAttach" resultType="org.coke.domain.MemberAttachVO">
	    	select * from coke_member_attach where userid = #{userid}
	    </select>
	    
    
    </mapper>